#root{
  background-color: #eee;
  height: 100vh;
}
/* App.css */
.app {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.main-content {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  margin-top: 1rem;
}


/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 1rem;
}

.header__button {
  background-color: #eee;
  color: #030303;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 10%;
  font-size: 1rem;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.54); */
}

.header__search {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.54);
  width: 50%;
}

.header__date-picker {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.54);
  color: #4b4b4b;
  cursor: pointer;
}
#filter{
  display: flex;
}
/* RangeSlider.css */
.range-slider {
  margin-top: 1rem;
  width: 20%;
  padding: 1rem 3rem;
  background-color: rgba(95, 158, 160, 0.182);
  text-align: center;
}
/* AttractionList.css */
.attraction-list {
  width: 50%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.attraction-list h2 {
  margin-bottom: 1rem;
}

.attraction-list ul {
  list-style: none;
  padding: 0;
}

.attraction-list li {
  margin-bottom: 1rem;
}
/* Map.css */
.map-container {
  height: 600px;
  width: 100%;
  /* margin-top: 1rem; */
}

.map {
  height: 100%;
  width: 100%;
}

/* DropdownFilter.css */

.dropdown-filter {
  /* margin-bottom: 20px; */
  font-family: Arial, sans-serif;
  box-shadow: 0 5px 10px rgba(0,0,0,0.54);

}

select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #000000;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}

select:hover,
select:focus {
  border-color: #888;
}

option {
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
}

/* Optional: Add a custom arrow icon to the dropdown */
select::-ms-expand {
  display: none;
}

select::after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Adjust the icon position for different browsers */
@supports (-ms-ime-align: auto) {
  select::after {
    top: 42%;
  }
}

/* AttractionList.css */

.attraction-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
  height: 600px; /* Set a fixed height for the container */
  overflow-y: auto; /* Add vertical scroll when content exceeds the box */
}

.attraction-list h6{
  padding: 0px;
  margin: 10px;
}

.attraction-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.attraction-info {
  flex: 1;
  padding-left: 16px;
}

.attraction-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.attraction-rating {
  font-size: 14px;
  color: #888;
}

.attraction-subtype{
  font-weight: lighter;
}

.attraction-address {
  font-size: 14px;
}

.attraction-image {
  flex: 0 0 100px;
}

.attraction-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add this CSS to your stylesheet or style section */
/* Customize the marker appearance */

.contact {
  width: 80px;
  height: 80px;
  background-color: #ff583379; /* Customize the background color of the marker */
  border: 2px solid #FFF; /* Customize the border color of the marker */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #FFF; /* Customize the text color of the marker */
  font-weight: bold;
}

/* Add hover styles for the markers if needed */
.contact:hover {
  background-color: #FF8833; /* Customize the hover background color */
  border: 2px solid #FF5733; /* Customize the hover border color */
  cursor: pointer;
}
